# Virtual Environment
/venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Output folders
/pdf_output/

# VS Code specific
.vscode/

# Ignore Streamlit secrets folder
/.streamlit/


/documents/samples/

